* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v512_6716 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v513_6617 {
  width: 100%;
  height: 170px;
  background: rgba(249,249,249,1);
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v512_6719 {
  width: 100%;
  height: 400px;
  background: rgba(245,245,245,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 596px;
  left: 0px;
  overflow: hidden;
}
.v513_6138 {
  width: 143px;
  height: 24px;
  background: url("../images/v513_6138.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 996px;
  left: 1260px;
  overflow: hidden;
}
.v513_6139 {
  width: 23px;
  height: 24px;
  background: url("../images/v513_6139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v513_6140 {
  width: 23px;
  height: 24px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v513_6141 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 40px;
  overflow: hidden;
}
.v513_6142 {
  width: 24px;
  height: 24px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v513_6143 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80px;
  overflow: hidden;
}
.v513_6144 {
  width: 24px;
  height: 18px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
}
.v513_6145 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 120px;
  overflow: hidden;
}
.v513_6146 {
  width: 24px;
  height: 24px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v515_1332 {
  width: 57px;
  height: 57px;
  background: url("../images/v515_1332.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 32px;
  overflow: hidden;
}
.v107_30519 {
  width: 710px;
  color: rgba(56,56,56,1);
  position: absolute;
  top: 114px;
  left: 365px;
  text-shadow: -3px 3px 0px rgba(0.34583333134651184, 0.34583333134651184, 0.34583333134651184, 0.23999999463558197);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 111px;
  opacity: 1;
  text-align: left;
}
.v513_3970 {
  width: 100%;
  height: 649px;
  background: rgba(240,240,240,1);
  padding: 30px 30px;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 184px;
  box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v513_3971 {
  width: 100%;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 30px;
  left: 30px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v513_3972 {
  width: 871px;
  height: 541px;
  background: url("../images/v513_3972.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 30px;
  overflow: hidden;
}
.v513_3973 {
  width: 541px;
  height: 541px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v513_3974 {
  width: 540px;
  height: 36px;
  background: url("../images/v513_3974.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_3990 {
  width: 540px;
  height: 36px;
  background: url("../images/v513_3990.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_4006 {
  width: 540px;
  height: 36px;
  background: url("../images/v513_4006.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_4022 {
  width: 540px;
  height: 36px;
  background: url("../images/v513_4022.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_4038 {
  width: 540px;
  height: 36px;
  background: url("../images/v513_4038.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 144px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_4054 {
  width: 540px;
  height: 36px;
  background: url("../images/v513_4054.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_4070 {
  width: 540px;
  height: 36px;
  background: url("../images/v513_4070.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_4086 {
  width: 540px;
  height: 36px;
  background: url("../images/v513_4086.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 252px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_4102 {
  width: 540px;
  height: 36px;
  background: url("../images/v513_4102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 288px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_4118 {
  width: 540px;
  height: 36px;
  background: url("../images/v513_4118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 324px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_4134 {
  width: 540px;
  height: 36px;
  background: url("../images/v513_4134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_4150 {
  width: 540px;
  height: 36px;
  background: url("../images/v513_4150.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 396px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_4166 {
  width: 540px;
  height: 36px;
  background: url("../images/v513_4166.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 432px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_4182 {
  width: 540px;
  height: 36px;
  background: url("../images/v513_4182.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_4198 {
  width: 540px;
  height: 36px;
  background: url("../images/v513_4198.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 504px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_4214 {
  width: 300px;
  height: 234px;
  background: url("../images/v513_4214.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 571px;
  overflow: hidden;
}
.v513_4215 {
  width: 140px;
  height: 234px;
  background: url("../images/v513_4215.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v513_4216 {
  width: 83px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v513_4217 {
  width: 140px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 0px;
  opacity: 1;
  text-align: left;
}
.v513_4218 {
  width: 140px;
  height: 228px;
  background: url("../images/v513_4218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 160px;
  overflow: hidden;
}
.v513_4219 {
  width: 62px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v513_4220 {
  width: 140px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 0px;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v513_5221 {
  width: 477px;
  height: 259px;
  background: rgba(240,240,240,1);
  padding: 15px 15px;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 639px;
  left: 765px;
  box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v513_5222 {
  width: 447px;
  color: url("../images/v513_5222.png");
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v513_5223 {
  width: 511px;
  height: 181px;
  background: url("../images/v513_5223.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 15px;
  overflow: hidden;
}
.v513_5224 {
  width: 181px;
  height: 181px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v513_5225 {
  width: 180px;
  height: 36px;
  background: url("../images/v513_5225.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_5231 {
  width: 180px;
  height: 36px;
  background: url("../images/v513_5231.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_5237 {
  width: 180px;
  height: 36px;
  background: url("../images/v513_5237.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_5243 {
  width: 180px;
  height: 36px;
  background: url("../images/v513_5243.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_5249 {
  width: 180px;
  height: 36px;
  background: url("../images/v513_5249.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 144px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v513_5255 {
  width: 300px;
  height: 108px;
  background: url("../images/v513_5255.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 211px;
  overflow: hidden;
}
.v513_5256 {
  width: 140px;
  height: 108px;
  background: url("../images/v513_5256.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v513_5257 {
  width: 83px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v513_5258 {
  width: 140px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 0px;
  opacity: 1;
  text-align: left;
}
.v513_5259 {
  width: 140px;
  height: 108px;
  background: url("../images/v513_5259.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 160px;
  overflow: hidden;
}
.v513_5260 {
  width: 62px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v513_5261 {
  width: 140px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 0px;
  opacity: 1;
  text-align: left;
}
